.App {
  text-align: center;
}
#quote-box {
  background-color:#ffffab;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#text{
  font-family: 'Courier New', Courier, monospace;
  margin: 1.5em;
  font-weight: bold;
}
#author{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
#new-quote{
  position: fixed;
  bottom: 0;
  right:0;
  margin: 0.5em;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#tweet-quote{
  position: fixed;
  bottom: 0;
  left:0;
  margin: 0.5em; 
}
#tbtn{
  background-color: blue ; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


